# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/

# Logs
*.log

# Virtual environments
venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store
